<launch>
	<group ns="kinect_test_node">
		<node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan"/>
	</group>

	<node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
  		<remap from="image" to="/camera/depth/image_raw"/>
	</node>
</launch>
