<launch>
	<node name="RosAria" pkg="rosaria" type="RosAria" >
			<remap from="/RosAria/cmd_vel" to="/cmd_vel" />
	</node>  

	<node pkg="robot_setup_tf" type="camera_link_frame" name="camera_link_frame" />

	<node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
	  	<remap from="image" to="/camera/depth/image_raw"/>
		<remap from="scan" to ="base_scan"/>
	</node>
	  
	<include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch" />


	<node pkg="gmapping" type="slam_gmapping" name="gmapping">
	    	<remap from="scan" to="base_scan" />
	</node>s

	  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	    <rosparam file="$(find robot_setup_tf)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find robot_setup_tf)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find robot_setup_tf)/params/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find robot_setup_tf)/params/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find robot_setup_tf)/params/base_local_planner_params.yaml" command="load" />
	  </node>

	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find nav2d_tutorials)/param/tutorial3.rviz" />

</launch>
